# 1. ä»»åŠ¡ä¸€

ä¼ä¸šæ”¶å…¥çš„å¤šæ ·æ€§

ã€é¢˜ç›®æè¿°ã€‘ä¸€ä¸ªä¼ä¸šçš„äº§ä¸šæ”¶å…¥å¤šæ ·æ€§å¯ä»¥ä»¿ç…§ä¿¡æ¯ç†µçš„æ¦‚å¿µæ¥å®šä¹‰æ”¶å…¥ç†µæŒ‡æ ‡ï¼š
$$I = -\sum_{i}{p(x_i)log(p(x_i))}$$
 æ˜¯ä¼ä¸šè¯¥å¹´æŸäº§ä¸šæ”¶å…¥é¢å è¯¥å¹´æ‰€æœ‰äº§ä¸šæ€»æ”¶å…¥çš„æ¯”é‡ã€‚åœ¨company.csvä¸­å­˜æœ‰éœ€è¦è®¡ç®—çš„ä¼ä¸šå’Œå¹´ä»½ï¼Œåœ¨company_data.csvä¸­å­˜æœ‰ä¼ä¸šã€å„ç±»æ”¶å…¥é¢å’Œæ”¶å…¥å¹´ä»½çš„ä¿¡æ¯ã€‚ç°è¯·åˆ©ç”¨åä¸€å¼ è¡¨ä¸­çš„æ•°æ®ï¼Œåœ¨å‰ä¸€å¼ è¡¨ä¸­å¢åŠ ä¸€åˆ—è¡¨ç¤ºè¯¥å…¬å¸è¯¥å¹´ä»½çš„æ”¶å…¥ç†µæŒ‡æ ‡ 
I
 ã€‚

In [1]:
import numpy as np
import pandas as pd

In [2]:
df1 = pd.read_csv('./test_data/Company.csv')
df2 = pd.read_csv('./test_data/Company_data.csv')
df1.head()

      è¯åˆ¸ä»£ç     æ—¥æœŸ
0  #000007  2014
1  #000403  2015
2  #000408  2016
3  #000408  2017
4  #000426  2015

In [3]:
df2.head()

   è¯åˆ¸ä»£ç           æ—¥æœŸ  æ”¶å…¥ç±»å‹           æ”¶å…¥é¢
0     1  2008/12/31     1  1.084218e+10
1     1  2008/12/31     2  1.259789e+10
2     1  2008/12/31     3  1.451312e+10
3     1  2008/12/31     4  1.063843e+09
4     1  2008/12/31     5  8.513880e+08

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048 entries, 0 to 1047
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   è¯åˆ¸ä»£ç     1048 non-null   object
 1   æ—¥æœŸ      1048 non-null   int64
dtypes: int64(1), object(1)
memory usage: 16.5+ KB

In [5]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 964022 entries, 0 to 964021
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   è¯åˆ¸ä»£ç     964022 non-null  int64
 1   æ—¥æœŸ      964022 non-null  object
 2   æ”¶å…¥ç±»å‹    964022 non-null  int64
 3   æ”¶å…¥é¢     940887 non-null  float64
dtypes: float64(1), int64(2), object(1)
memory usage: 29.4+ MB

In [6]:
df1.isnull().sum()

è¯åˆ¸ä»£ç     0
æ—¥æœŸ      0
dtype: int64

In [7]:
df2.isnull().sum()

è¯åˆ¸ä»£ç         0
æ—¥æœŸ          0
æ”¶å…¥ç±»å‹        0
æ”¶å…¥é¢     23135
dtype: int64

In [8]:
df2['è¯åˆ¸ä»£ç '] =  df2['è¯åˆ¸ä»£ç '].apply(lambda x: '#' + str(x).rjust(6, '0'))
df2.head()

      è¯åˆ¸ä»£ç           æ—¥æœŸ  æ”¶å…¥ç±»å‹           æ”¶å…¥é¢
0  #000001  2008/12/31     1  1.084218e+10
1  #000001  2008/12/31     2  1.259789e+10
2  #000001  2008/12/31     3  1.451312e+10
3  #000001  2008/12/31     4  1.063843e+09
4  #000001  2008/12/31     5  8.513880e+08

In [9]:
print(len(df1))
df1.è¯åˆ¸ä»£ç .unique()

1048

array(['#000007', '#000403', '#000408', '#000426', '#000511', '#000571',
       '#000584', '#000587', '#000603', '#000639', '#000667', '#000672',
       '#000693', '#000700', '#000718', '#000821', '#000836', '#000887',
       '#000910', '#000929', '#000982', '#001696', '#002009', '#002023',
       '#002026', '#002034', '#002041', '#002049', '#002050', '#002064',
       '#002070', '#002076', '#002078', '#002082', '#002085', '#002097',
       '#002099', '#002102', '#002104', '#002105', '#002111', '#002132',
       '#002133', '#002156', '#002165', '#002166', '#002174', '#002175',
       '#002194', '#002201', '#002206', '#002210', '#002211', '#002212',
       '#002216', '#002218', '#002221', '#002224', '#002225', '#002229',
       '#002231', '#002234', '#002239', '#002247', '#002250', '#002255',
       '#002259', '#002269', '#002275', '#002276', '#002284', '#002293',
       '#002294', '#002299', '#002300', '#002309', '#002316', '#002317',
       '#002323', '#002325', '#002328', '#002330', '#002336', '#002337',
       '#002342', '#002345', '#002346', '#002348', '#002352', '#002355',
       '#002363', '#002374', '#002378', '#002381', '#002384', '#002388',
       '#002389', '#002392', '#002395', '#002403', '#002407', '#002409',
       '#002422', '#002424', '#002433', '#002435', '#002440', '#002441',
       '#002447', '#002450', '#002452', '#002466', '#002473', '#002479',
       '#002482', '#002488', '#002490', '#002492', '#002494', '#002495',
       '#002502', '#002506', '#002508', '#002511', '#002517', '#002521',
       '#002526', '#002529', '#002535', '#002538', '#002539', '#002540',
       '#002543', '#002550', '#002552', '#002553', '#002555', '#002563',
       '#002569', '#002574', '#002578', '#002584', '#002585', '#002588',
       '#002590', '#002591', '#002592', '#002597', '#002600', '#002602',
       '#002603', '#002605', '#002606', '#002607', '#002615', '#002617',
       '#002619', '#002621', '#002622', '#002624', '#002625', '#002633',
       '#002636', '#002647', '#002650', '#002651', '#002661', '#002664',
       '#002666', '#002674', '#002677', '#002684', '#002685', '#002688',
       '#002693', '#002694', '#002695', '#002697', '#002701', '#002703',
       '#002708', '#002725', '#002726', '#002728', '#002729', '#002730',
       '#002731', '#002749', '#002750', '#002765', '#002767', '#002773',
       '#002776', '#002781', '#002782', '#002787', '#002789', '#002793',
       '#002801', '#002817', '#002842', '#200168', '#300004', '#300012',
       '#300029', '#300032', '#300039', '#300066', '#300074', '#300086',
       '#300095', '#300118', '#300121', '#300122', '#300133', '#300135',
       '#300160', '#300162', '#300175', '#300185', '#300188', '#300194',
       '#300196', '#300202', '#300208', '#300215', '#300217', '#300233',
       '#300236', '#300239', '#300247', '#300255', '#300280', '#300281',
       '#300299', '#300307', '#300309', '#300314', '#300317', '#300320',
       '#300329', '#300338', '#300342', '#300362', '#300375', '#300412',
       '#300427', '#300428', '#300512', '#300547', '#300563', '#600408',
       '#600978'], dtype=object)

In [10]:
df1.æ—¥æœŸ.unique()

array([2014, 2015, 2016, 2017, 2012, 2013, 2011, 2010, 2009, 2008])

In [11]:
print(len(df2.è¯åˆ¸ä»£ç .unique()))
df2.è¯åˆ¸ä»£ç .unique()

3172

array(['#000001', '#000002', '#000004', ..., '#900953', '#900956',
       '#900957'], dtype=object)

In [12]:
df2.æ”¶å…¥ç±»å‹.value_counts()

1      21458
2      21458
3      21456
4      21456
5      21445
       ...
175        1
171        1
170        1
169        1
176        1
Name: æ”¶å…¥ç±»å‹, Length: 176, dtype: int64

In [13]:
df2.æ—¥æœŸ.value_counts()

2013/12/31    155994
2012/12/31    149876
2016/12/31    122270
2011/12/31    117346
2015/12/31    109262
2014/12/31     92848
2010/12/31     90877
2009/12/31     73401
2008/12/31     52148
Name: æ—¥æœŸ, dtype: int64

In [14]:
df2.æ—¥æœŸ = df2.æ—¥æœŸ.apply(lambda x: int(x[:4]))

In [15]:
df3 = df1.merge(df2, on = ['è¯åˆ¸ä»£ç ', 'æ—¥æœŸ'], how = 'left')

In [16]:
df3

          è¯åˆ¸ä»£ç     æ—¥æœŸ  æ”¶å…¥ç±»å‹           æ”¶å…¥é¢
0      #000007  2014   1.0  6.146172e+07
1      #000007  2014   2.0  0.000000e+00
2      #000007  2014   3.0  6.146172e+07
3      #000007  2014   4.0  9.863111e+07
4      #000007  2014   5.0  8.000000e+07
...        ...   ...   ...           ...
51541  #600978  2016  33.0  4.591668e+09
51542  #600978  2016  34.0  3.554853e+09
51543  #600978  2016  35.0  1.728503e+08
51544  #600978  2016  36.0  3.727704e+09
51545  #600978  2017   NaN           NaN

[51546 rows x 4 columns]

In [17]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51546 entries, 0 to 51545
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   è¯åˆ¸ä»£ç     51546 non-null  object
 1   æ—¥æœŸ      51546 non-null  int64
 2   æ”¶å…¥ç±»å‹    51453 non-null  float64
 3   æ”¶å…¥é¢     50574 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.0+ MB

In [18]:
df3.isnull().sum()

è¯åˆ¸ä»£ç       0
æ—¥æœŸ        0
æ”¶å…¥ç±»å‹     93
æ”¶å…¥é¢     972
dtype: int64

In [19]:
df3 = df3.dropna(axis = 0, subset = ['æ”¶å…¥é¢'])

In [20]:
df3.isnull().sum()

è¯åˆ¸ä»£ç     0
æ—¥æœŸ      0
æ”¶å…¥ç±»å‹    0
æ”¶å…¥é¢     0
dtype: int64

In [21]:
df_gb = pd.DataFrame(df3.groupby(['è¯åˆ¸ä»£ç ', 'æ—¥æœŸ', 'æ”¶å…¥ç±»å‹']).æ”¶å…¥é¢.sum())

In [22]:
df_gb

                            æ”¶å…¥é¢
è¯åˆ¸ä»£ç     æ—¥æœŸ   æ”¶å…¥ç±»å‹
#000007 2014 1.0   6.146172e+07
             2.0   0.000000e+00
             3.0   6.146172e+07
             4.0   9.863111e+07
             5.0   8.000000e+07
...                         ...
#600978 2016 32.0  7.121322e+06
             33.0  4.591668e+09
             34.0  3.554853e+09
             35.0  1.728503e+08
             36.0  3.727704e+09

[50574 rows x 1 columns]

In [23]:
df_gb['æ¯”é‡'] = (100*df_gb['æ”¶å…¥é¢']/df_gb['æ”¶å…¥é¢'].sum(level = ['è¯åˆ¸ä»£ç ', 'æ—¥æœŸ'])).round(2).map('{}%'.format)
df_gb

                            æ”¶å…¥é¢     æ¯”é‡
è¯åˆ¸ä»£ç     æ—¥æœŸ   æ”¶å…¥ç±»å‹
#000007 2014 1.0   6.146172e+07  2.06%
             2.0   0.000000e+00   0.0%
             3.0   6.146172e+07  2.06%
             4.0   9.863111e+07  3.31%
             5.0   8.000000e+07  2.68%
...                         ...    ...
#600978 2016 32.0  7.121322e+06  0.01%
             33.0  4.591668e+09   4.9%
             34.0  3.554853e+09   3.8%
             35.0  1.728503e+08  0.18%
             36.0  3.727704e+09  3.98%

[50574 rows x 2 columns]

# 2 ä»»åŠ¡äºŒ ç»„é˜Ÿå­¦ä¹ ä¿¡æ¯è¡¨çš„å˜æ¢

ã€é¢˜ç›®æè¿°ã€‘è¯·æŠŠç»„é˜Ÿå­¦ä¹ çš„é˜Ÿä¼ä¿¡æ¯è¡¨å˜æ¢ä¸ºå¦‚ä¸‹å½¢æ€ï¼Œå…¶ä¸­â€œæ˜¯å¦é˜Ÿé•¿â€ä¸€åˆ—å–1è¡¨ç¤ºé˜Ÿé•¿ï¼Œå¦åˆ™ä¸º0
```
	æ˜¯å¦é˜Ÿé•¿	é˜Ÿä¼åç§°	    æ˜µç§°    	ç¼–å·
0	1	    ä½ è¯´çš„éƒ½å¯¹é˜Ÿ	å±±æ«å¶çº·é£	5
1	0	    ä½ è¯´çš„éƒ½å¯¹é˜Ÿ	è”¡	        6
2	0	    ä½ è¯´çš„éƒ½å¯¹é˜Ÿ	å®‰æ…•å¸Œ	    7
3	0	    ä½ è¯´çš„éƒ½å¯¹é˜Ÿ	ä¿¡ä»°	    8
4	0	    ä½ è¯´çš„éƒ½å¯¹é˜Ÿ	biubiuğŸ™ˆğŸ™ˆ	20
...	...	    ...	        ...	        ...
141	0	    ä¸ƒæ˜Ÿè”ç›Ÿ	    Daisy	    63
142	0	    ä¸ƒæ˜Ÿè”ç›Ÿ    	One Better	131
143	0	    ä¸ƒæ˜Ÿè”ç›Ÿ    	rain	    112
144	1	    åº”å¦‚æ˜¯	    æ€æ— é‚ª	    54
145	0	    åº”å¦‚æ˜¯	    Justzer0	58
```

In [24]:
df = pd.read_excel('./test_data/ç»„é˜Ÿä¿¡æ¯æ±‡æ€»è¡¨ï¼ˆPandasï¼‰.xlsx')

In [25]:
df.head()

,æ‰€åœ¨ç¾¤,é˜Ÿä¼åç§°,é˜Ÿé•¿ç¼–å·,é˜Ÿé•¿_ç¾¤æ˜µç§°,é˜Ÿå‘˜1 ç¼–å·,é˜Ÿå‘˜_ç¾¤æ˜µç§°,é˜Ÿå‘˜2 ç¼–å·,é˜Ÿå‘˜_ç¾¤æ˜µç§°.1,é˜Ÿå‘˜3 ç¼–å·,é˜Ÿå‘˜_ç¾¤æ˜µç§°.2,...,é˜Ÿå‘˜6 ç¼–å·,é˜Ÿå‘˜_ç¾¤æ˜µç§°.5,é˜Ÿå‘˜7 ç¼–å·,é˜Ÿå‘˜_ç¾¤æ˜µç§°.6,é˜Ÿå‘˜8 ç¼–å·,é˜Ÿå‘˜_ç¾¤æ˜µç§°.7,é˜Ÿå‘˜9 ç¼–å·,é˜Ÿå‘˜_ç¾¤æ˜µç§°.8,é˜Ÿå‘˜10ç¼–å·,é˜Ÿå‘˜_ç¾¤æ˜µç§°.9
0,Pandasæ•°æ®åˆ†æ,ä½ è¯´çš„éƒ½å¯¹é˜Ÿ,5,å±±æ«å¶çº·é£,6,è”¡,7.0,å®‰æ…•å¸Œ,8.0,ä¿¡ä»°,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Pandasæ•°æ®åˆ†æ,ç†ŠçŒ«äºº,175,é±¼å‘²å‘²,44,Heaven,37.0,å•é’,50.0,ä½™æŸ³æˆè«,...,25.0,Never say never,55.0,K,120.0,Y.,28.0,X.Y.Q,151.0,swrong
2,Pandasæ•°æ®åˆ†æ,ä¸­å›½ç§»ä¸åŠ¨,107,Y's,124,ğŸ¥•,75.0,Vito,146.0,å¼ å°äº”,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Pandasæ•°æ®åˆ†æ,panda,11,å¤ªä¸‹çœŸå›,35,æŸšå­,108.0,My,42.0,æ˜Ÿæ˜Ÿç‚¹ç¯,...,157.0,Zys,158.0,ä¸å™¨,102.0,å˜‰å¹³ä½‘æŸ“,NaN,NaN,NaN,NaN
4,Pandasæ•°æ®åˆ†æ,ä¸€è·¯å‘åŒ—,13,é»„å…ƒå¸…,15,åŒ–,16.0,æœªæœŸ,18.0,å¤ªé™½å…‰ä¸‹,...,23.0,ğŸš€,169.0,å¬é£,189.0,Cappuccino,NaN,NaN,NaN,NaN

In [26]:
df = df.reset_index().head()

In [27]:
df = df.drop(columns = 'æ‰€åœ¨ç¾¤')

In [28]:
df = df.rename(columns={'é˜Ÿé•¿ç¼–å·': 'ç¼–å·_é˜Ÿé•¿', 'é˜Ÿå‘˜1 ç¼–å·': 'ç¼–å·_é˜Ÿå‘˜1',
                        'é˜Ÿå‘˜2 ç¼–å·': 'ç¼–å·_é˜Ÿå‘˜2', 'é˜Ÿå‘˜3 ç¼–å·': 'ç¼–å·_é˜Ÿå‘˜3',
                        'é˜Ÿå‘˜4 ç¼–å·': 'ç¼–å·_é˜Ÿå‘˜4', 'é˜Ÿå‘˜5 ç¼–å·': 'ç¼–å·_é˜Ÿå‘˜5',
                        'é˜Ÿå‘˜6 ç¼–å·': 'ç¼–å·_é˜Ÿå‘˜6', 'é˜Ÿå‘˜7 ç¼–å·': 'ç¼–å·_é˜Ÿå‘˜7',
                        'é˜Ÿå‘˜8 ç¼–å·': 'ç¼–å·_é˜Ÿå‘˜8', 'é˜Ÿå‘˜9 ç¼–å·': 'ç¼–å·_é˜Ÿå‘˜9',
                        'é˜Ÿå‘˜10ç¼–å·': 'ç¼–å·_é˜Ÿå‘˜10', 'é˜Ÿé•¿_ç¾¤æ˜µç§°':'æ˜µç§°_é˜Ÿé•¿',
                        'é˜Ÿå‘˜_ç¾¤æ˜µç§°': 'æ˜µç§°_é˜Ÿå‘˜1', 'é˜Ÿå‘˜_ç¾¤æ˜µç§°.1': 'æ˜µç§°_é˜Ÿå‘˜2',
                        'é˜Ÿå‘˜_ç¾¤æ˜µç§°.2': 'æ˜µç§°_é˜Ÿå‘˜3', 'é˜Ÿå‘˜_ç¾¤æ˜µç§°.3': 'æ˜µç§°_é˜Ÿå‘˜4',
                        'é˜Ÿå‘˜_ç¾¤æ˜µç§°.4': 'æ˜µç§°_é˜Ÿå‘˜5', 'é˜Ÿå‘˜_ç¾¤æ˜µç§°.5': 'æ˜µç§°_é˜Ÿå‘˜6',
                        'é˜Ÿå‘˜_ç¾¤æ˜µç§°.6': 'æ˜µç§°_é˜Ÿå‘˜7', 'é˜Ÿå‘˜_ç¾¤æ˜µç§°.7': 'æ˜µç§°_é˜Ÿå‘˜8',
                        'é˜Ÿå‘˜_ç¾¤æ˜µç§°.8': 'æ˜µç§°_é˜Ÿå‘˜9', 'é˜Ÿå‘˜_ç¾¤æ˜µç§°.9': 'æ˜µç§°_é˜Ÿå‘˜10'})    # æ”¹å˜åˆ—åé‡æ–°åˆ†ç±»
df.head()

,index,é˜Ÿä¼åç§°,ç¼–å·_é˜Ÿé•¿,æ˜µç§°_é˜Ÿé•¿,ç¼–å·_é˜Ÿå‘˜1,æ˜µç§°_é˜Ÿå‘˜1,ç¼–å·_é˜Ÿå‘˜2,æ˜µç§°_é˜Ÿå‘˜2,ç¼–å·_é˜Ÿå‘˜3,æ˜µç§°_é˜Ÿå‘˜3,...,ç¼–å·_é˜Ÿå‘˜6,æ˜µç§°_é˜Ÿå‘˜6,ç¼–å·_é˜Ÿå‘˜7,æ˜µç§°_é˜Ÿå‘˜7,ç¼–å·_é˜Ÿå‘˜8,æ˜µç§°_é˜Ÿå‘˜8,ç¼–å·_é˜Ÿå‘˜9,æ˜µç§°_é˜Ÿå‘˜9,ç¼–å·_é˜Ÿå‘˜10,æ˜µç§°_é˜Ÿå‘˜10
0,0,ä½ è¯´çš„éƒ½å¯¹é˜Ÿ,5,å±±æ«å¶çº·é£,6,è”¡,7.0,å®‰æ…•å¸Œ,8.0,ä¿¡ä»°,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,ç†ŠçŒ«äºº,175,é±¼å‘²å‘²,44,Heaven,37.0,å•é’,50.0,ä½™æŸ³æˆè«,...,25.0,Never say never,55.0,K,120.0,Y.,28.0,X.Y.Q,151.0,swrong
2,2,ä¸­å›½ç§»ä¸åŠ¨,107,Y's,124,ğŸ¥•,75.0,Vito,146.0,å¼ å°äº”,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,panda,11,å¤ªä¸‹çœŸå›,35,æŸšå­,108.0,My,42.0,æ˜Ÿæ˜Ÿç‚¹ç¯,...,157.0,Zys,158.0,ä¸å™¨,102.0,å˜‰å¹³ä½‘æŸ“,NaN,NaN,NaN,NaN
4,4,ä¸€è·¯å‘åŒ—,13,é»„å…ƒå¸…,15,åŒ–,16.0,æœªæœŸ,18.0,å¤ªé™½å…‰ä¸‹,...,23.0,ğŸš€,169.0,å¬é£,189.0,Cappuccino,NaN,NaN,NaN,NaN

In [29]:
df_ = pd.wide_to_long(df, 
                      stubnames = ['æ˜µç§°', 'ç¼–å·'],
                      i = ['index', 'é˜Ÿä¼åç§°'],
                      j = 'æ˜¯å¦é˜Ÿé•¿',
                      sep = '_',
                      suffix = '.+')
df_.head()

                         æ˜µç§°    ç¼–å·
index é˜Ÿä¼åç§°   æ˜¯å¦é˜Ÿé•¿
0     ä½ è¯´çš„éƒ½å¯¹é˜Ÿ é˜Ÿé•¿      å±±æ«å¶çº·é£    5.0
             é˜Ÿå‘˜1         è”¡    6.0
             é˜Ÿå‘˜2       å®‰æ…•å¸Œ    7.0
             é˜Ÿå‘˜3         ä¿¡ä»°   8.0
             é˜Ÿå‘˜4   biubiuğŸ™ˆğŸ™ˆ  20.0

In [30]:
df_ = df_.reset_index()
df_.head()

   index    é˜Ÿä¼åç§° æ˜¯å¦é˜Ÿé•¿        æ˜µç§°    ç¼–å·
0      0  ä½ è¯´çš„éƒ½å¯¹é˜Ÿ   é˜Ÿé•¿    å±±æ«å¶çº·é£    5.0
1      0  ä½ è¯´çš„éƒ½å¯¹é˜Ÿ  é˜Ÿå‘˜1        è”¡    6.0
2      0  ä½ è¯´çš„éƒ½å¯¹é˜Ÿ  é˜Ÿå‘˜2      å®‰æ…•å¸Œ    7.0
3      0  ä½ è¯´çš„éƒ½å¯¹é˜Ÿ  é˜Ÿå‘˜3        ä¿¡ä»°   8.0
4      0  ä½ è¯´çš„éƒ½å¯¹é˜Ÿ  é˜Ÿå‘˜4  biubiuğŸ™ˆğŸ™ˆ  20.0

In [31]:
df_['æ˜¯å¦é˜Ÿé•¿'] = df_['æ˜¯å¦é˜Ÿé•¿'].replace(['é˜Ÿé•¿', 'é˜Ÿå‘˜1', 'é˜Ÿå‘˜2', 'é˜Ÿå‘˜3', 'é˜Ÿå‘˜4', 'é˜Ÿå‘˜5', 'é˜Ÿå‘˜6', 'é˜Ÿå‘˜7', 'é˜Ÿå‘˜8', 'é˜Ÿå‘˜9', 'é˜Ÿå‘˜10'],
                             [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])
# æ›¿æ¢é˜Ÿé•¿é˜Ÿå‘˜æ ‡è¯†
df_.head()

   index    é˜Ÿä¼åç§°  æ˜¯å¦é˜Ÿé•¿        æ˜µç§°    ç¼–å·
0      0  ä½ è¯´çš„éƒ½å¯¹é˜Ÿ     1    å±±æ«å¶çº·é£    5.0
1      0  ä½ è¯´çš„éƒ½å¯¹é˜Ÿ     0        è”¡    6.0
2      0  ä½ è¯´çš„éƒ½å¯¹é˜Ÿ     0      å®‰æ…•å¸Œ    7.0
3      0  ä½ è¯´çš„éƒ½å¯¹é˜Ÿ     0        ä¿¡ä»°   8.0
4      0  ä½ è¯´çš„éƒ½å¯¹é˜Ÿ     0  biubiuğŸ™ˆğŸ™ˆ  20.0

In [32]:
df_.isnull().sum()

index     0
é˜Ÿä¼åç§°      0
æ˜¯å¦é˜Ÿé•¿      0
æ˜µç§°       15
ç¼–å·       15
dtype: int64

In [33]:
df_ = df_.dropna(axis = 0, subset = ['æ˜µç§°', 'ç¼–å·'])
df_.isnull().sum()

index    0
é˜Ÿä¼åç§°     0
æ˜¯å¦é˜Ÿé•¿     0
æ˜µç§°       0
ç¼–å·       0
dtype: int64

In [34]:
df_ = df_[['index', 'æ˜¯å¦é˜Ÿé•¿', 'é˜Ÿä¼åç§°', 'æ˜µç§°', 'ç¼–å·']]
df_.head()

   index  æ˜¯å¦é˜Ÿé•¿    é˜Ÿä¼åç§°        æ˜µç§°    ç¼–å·
0      0     1  ä½ è¯´çš„éƒ½å¯¹é˜Ÿ    å±±æ«å¶çº·é£    5.0
1      0     0  ä½ è¯´çš„éƒ½å¯¹é˜Ÿ        è”¡    6.0
2      0     0  ä½ è¯´çš„éƒ½å¯¹é˜Ÿ      å®‰æ…•å¸Œ    7.0
3      0     0  ä½ è¯´çš„éƒ½å¯¹é˜Ÿ        ä¿¡ä»°   8.0
4      0     0  ä½ è¯´çš„éƒ½å¯¹é˜Ÿ  biubiuğŸ™ˆğŸ™ˆ  20.0

In [35]:
df_ = df_.astype({'ç¼–å·':'int64'})
df_.head()

   index  æ˜¯å¦é˜Ÿé•¿    é˜Ÿä¼åç§°        æ˜µç§°  ç¼–å·
0      0     1  ä½ è¯´çš„éƒ½å¯¹é˜Ÿ    å±±æ«å¶çº·é£    5
1      0     0  ä½ è¯´çš„éƒ½å¯¹é˜Ÿ        è”¡    6
2      0     0  ä½ è¯´çš„éƒ½å¯¹é˜Ÿ      å®‰æ…•å¸Œ    7
3      0     0  ä½ è¯´çš„éƒ½å¯¹é˜Ÿ        ä¿¡ä»°   8
4      0     0  ä½ è¯´çš„éƒ½å¯¹é˜Ÿ  biubiuğŸ™ˆğŸ™ˆ  20

In [37]:
df_ = df_.drop(columns = 'index')

In [39]:
df_.head()

   æ˜¯å¦é˜Ÿé•¿    é˜Ÿä¼åç§°        æ˜µç§°  ç¼–å·
0     1  ä½ è¯´çš„éƒ½å¯¹é˜Ÿ    å±±æ«å¶çº·é£    5
1     0  ä½ è¯´çš„éƒ½å¯¹é˜Ÿ        è”¡    6
2     0  ä½ è¯´çš„éƒ½å¯¹é˜Ÿ      å®‰æ…•å¸Œ    7
3     0  ä½ è¯´çš„éƒ½å¯¹é˜Ÿ        ä¿¡ä»°   8
4     0  ä½ è¯´çš„éƒ½å¯¹é˜Ÿ  biubiuğŸ™ˆğŸ™ˆ  20

# 3. ä»»åŠ¡ä¸‰ ç¾å›½å¤§é€‰æŠ•ç¥¨æƒ…å†µ

ã€é¢˜ç›®æè¿°ã€‘ä¸¤å¼ æ•°æ®è¡¨ä¸­åˆ†åˆ«ç»™å‡ºäº†ç¾å›½å„å¿ï¼ˆcountyï¼‰çš„äººå£æ•°ä»¥åŠå¤§é€‰çš„æŠ•ç¥¨æƒ…å†µï¼Œè¯·è§£å†³ä»¥ä¸‹é—®é¢˜ï¼š

æœ‰å¤šå°‘å¿æ»¡è¶³æ€»æŠ•ç¥¨æ•°è¶…è¿‡å¿äººå£æ•°çš„ä¸€åŠ

æŠŠå·ï¼ˆstateï¼‰ä½œä¸ºè¡Œç´¢å¼•ï¼ŒæŠŠæŠ•ç¥¨å€™é€‰äººä½œä¸ºåˆ—åï¼Œåˆ—åçš„é¡ºåºæŒ‰ç…§å€™é€‰äººåœ¨å…¨ç¾çš„æ€»ç¥¨æ•°ç”±é«˜åˆ°ä½æ’åºï¼Œè¡Œåˆ—å¯¹åº”çš„å…ƒç´ ä¸ºè¯¥å€™é€‰äººåœ¨è¯¥å·è·å¾—çš„æ€»ç¥¨æ•°

æ­¤å¤„æ˜¯ä¸€ä¸ªæ ·ä¾‹ï¼Œå®é™…çš„å·æˆ–äººåç”¨åŸè¡¨çš„è‹±è¯­ä»£æ›¿
```
æ‹œç™»   å·æ™®
å¨æ–¯åº·æ˜Ÿå·   2      1
å¾·å…‹è¨æ–¯å·   3      4
```
æ¯ä¸€ä¸ªå·ä¸‹è®¾è‹¥å¹²å¿ï¼Œå®šä¹‰æ‹œç™»åœ¨è¯¥å¿çš„å¾—ç¥¨ç‡å‡å»å·æ™®åœ¨è¯¥å¿çš„å¾—ç¥¨ç‡ä¸ºè¯¥å¿çš„BTæŒ‡æ ‡ï¼Œè‹¥æŸä¸ªå·æ‰€æœ‰å¿BTæŒ‡æ ‡çš„ä¸­ä½æ•°å¤§äº0ï¼Œåˆ™ç§°è¯¥å·ä¸ºBiden Stateï¼Œè¯·æ‰¾å‡ºæ‰€æœ‰çš„Biden State

## æœŸæœ«è€ƒè¯•æœ‰å¿ƒæ— åŠ›äº†ï¼Œå›å¤´æœ‰ç©ºè¡¥ä¸Š